# Choose a Data Set

You can choose to analyze any data that you would like! Remember, you need 1000 rows of non-null data in order to get 5 points for the "Data" criteria of my [rubric](https://docs.google.com/document/d/1s3wllcF3LLnytxwD8mZ-BCypXKnfaahnizWGNojT-B4/edit?usp=sharing). Consider looking at [Kaggle](https://www.kaggle.com/datasets) or [free APIs](https://free-apis.github.io/#/browse) for datasets of this size. Alternatively, you can scrape the web to make your own dataset! :D

Once you have chosen your dataset, please read your data into a dataframe and call `.info()` below. If you don't call `info` I will give you 0 points for the first criteria described on the [rubric](https://docs.google.com/document/d/1s3wllcF3LLnytxwD8mZ-BCypXKnfaahnizWGNojT-B4/edit?usp=sharing).

In [ ]:
# Read data into a dataframe and call info()
    # Example call:
    # df = pd.DataFrame({"A":[1, 2, 3], "B":[4, 5, 6]})
    # df.info()

# My Question

# Does North America SUCK at League of Legends?
# Relative to Korea, which is considered the best region, how does North America compare in game length, how much game length affects the result, and international win rate?

# My Analysis

In [1]:
import pandas as pd
import seaborn as sns
import requests
from bs4 import BeautifulSoup
df=pd.read_csv('LeagueofLegends.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7620 entries, 0 to 7619
Data columns (total 57 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   League            7620 non-null   object
 1   Year              7620 non-null   int64
 2   Season            7620 non-null   object
 3   Type              7620 non-null   object
 4   blueTeamTag       7582 non-null   object
 5   bResult           7620 non-null   int64
 6   rResult           7620 non-null   int64
 7   redTeamTag        7583 non-null   object
 8   gamelength        7620 non-null   int64
 9   golddiff          7620 non-null   object
 10  goldblue          7620 non-null   object
 11  bKills            7620 non-null   object
 12  bTowers           7620 non-null   object
 13  bInhibs           7620 non-null   object
 14  bDragons          7620 non-null   object
 15  bBarons           7620 non-null   object
 16  bHeralds          7620 non-null   object
 17  goldred           7620 non-null   object
 18  rKills            7620 non-null   object
 19  rTowers           7620 non-null   object
 20  rInhibs           7620 non-null   object
 21  rDragons          7620 non-null   object
 22  rBarons           7620 non-null   object
 23  rHeralds          7620 non-null   object
 24  blueTop           7583 non-null   object
 25  blueTopChamp      7620 non-null   object
 26  goldblueTop       7620 non-null   object
 27  blueJungle        7592 non-null   object
 28  blueJungleChamp   7620 non-null   object
 29  goldblueJungle    7620 non-null   object
 30  blueMiddle        7583 non-null   object
 31  blueMiddleChamp   7620 non-null   object
 32  goldblueMiddle    7620 non-null   object
 33  blueADC           7583 non-null   object
 34  blueADCChamp      7620 non-null   object
 35  goldblueADC       7620 non-null   object
 36  blueSupport       7583 non-null   object
 37  blueSupportChamp  7620 non-null   object
 38  goldblueSupport   7620 non-null   object
 39  blueBans          7620 non-null   object
 40  redTop            7583 non-null   object
 41  redTopChamp       7620 non-null   object
 42  goldredTop        7620 non-null   object
 43  redJungle         7596 non-null   object
 44  redJungleChamp    7620 non-null   object
 45  goldredJungle     7620 non-null   object
 46  redMiddle         7583 non-null   object
 47  redMiddleChamp    7620 non-null   object
 48  goldredMiddle     7620 non-null   object
 49  redADC            7583 non-null   object
 50  redADCChamp       7620 non-null   object
 51  goldredADC        7620 non-null   object
 52  redSupport        7583 non-null   object
 53  redSupportChamp   7620 non-null   object
 54  goldredSupport    7620 non-null   object
 55  redBans           7620 non-null   object
 56  Address           7620 non-null   object
dtypes: int64(4), object(53)
memory usage: 3.3+ MB

In [2]:
df.describe

<bound method NDFrame.describe of      League  Year  Season    Type blueTeamTag  bResult  rResult redTeamTag  \
0     NALCS  2015  Spring  Season         TSM        1        0         C9
1     NALCS  2015  Spring  Season         CST        0        1        DIG
2     NALCS  2015  Spring  Season         WFX        1        0         GV
3     NALCS  2015  Spring  Season         TIP        0        1         TL
4     NALCS  2015  Spring  Season         CLG        1        0         T8
...     ...   ...     ...     ...         ...      ...      ...        ...
7615    TCL  2018  Spring  Season          YC        0        1        SUP
7616    TCL  2018  Spring  Season         GAL        0        1         DP
7617    OPL  2018  Spring  Season         SIN        0        1         DW
7618    OPL  2018  Spring  Season         LGC        1        0        TTC
7619    OPL  2018  Spring  Season         TTC        0        1        LGC

      gamelength                                           golddiff  ...  \
0             40  [0, 0, -14, -65, -268, -431, -488, -789, -494,...  ...
1             38  [0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...  ...
2             40  [0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...  ...
3             41  [0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...  ...
4             35  [40, 40, 44, -36, 113, 158, -121, -191, 23, 20...  ...
...          ...                                                ...  ...
7615          34  [0, 0, -18, -95, 45, -87, -117, 199, 126, 92, ...  ...
7616          39  [0, 0, -86, -39, -207, -349, -60, -140, 187, -...  ...
7617          24  [0, -8, -6, 116, 103, -92, -470, -958, -1998, ...  ...
7618          35  [0, 0, -97, 33, 351, 284, 299, 263, 403, 623, ...  ...
7619          42  [0, 0, -8, -225, -36, 73, 464, 184, 1171, 1409...  ...

     redMiddleChamp                                      goldredMiddle  \
0              Fizz  [475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...
1              Azir  [475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...
2              Azir  [475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...
3              Lulu  [475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...
4              Lulu  [475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...
...             ...                                                ...
7615         Veigar  [500, 500, 632, 982, 1258, 1667, 2060, 2390, 2...
7616           Ryze  [500, 500, 612, 1000, 1193, 1626, 1979, 2318, ...
7617       Malzahar  [500, 500, 615, 903, 1225, 1617, 1976, 2304, 2...
7618         Veigar  [500, 500, 561, 931, 1223, 1631, 1987, 2315, 2...
7619       Malzahar  [500, 500, 598, 968, 1165, 1477, 1801, 2016, 2...

            redADC redADCChamp  \
0           Sneaky       Sivir
1           CoreJJ       Corki
2              Cop       Corki
3            KEITH      KogMaw
4     Maplestreet8       Corki
...            ...         ...
7615       Zeitnot       Xayah
7616      Ruvelius     Caitlyn
7617          k1ng      Ezreal
7618           Low       Sivir
7619          Raid       Vayne

                                             goldredADC   redSupport  \
0     [475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...  LemonNation
1     [475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...      KiWiKiD
2     [475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...   BunnyFuFuu
3     [475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...      Xpecial
4     [475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...        Dodo8
...                                                 ...          ...
7615  [500, 500, 564, 1027, 1320, 1727, 1963, 2276, ...   SnowFlower
7616  [500, 500, 621, 977, 1420, 1809, 2047, 2413, 2...       Japone
7617  [500, 508, 592, 986, 1400, 1753, 2196, 2538, 3...      Cupcake
7618  [500, 500, 634, 930, 1304, 1691, 2042, 2384, 2...      Tilting
7619  [500, 500, 587, 954, 1327, 1749, 2007, 2471, 2...        Decoy

     redSupportChamp                                     goldredSupport  \
0             Thresh  [515, 515, 577, 722, 911, 1042, 1194, 1370, 14...
1              Annie  [515, 515, 583, 752, 900, 1066, 1236, 1417, 15...
2              Janna  [515, 515, 584, 721, 858, 1002, 1168, 1303, 14...
3              Janna  [515, 515, 583, 721, 870, 1059, 1205, 1342, 15...
4              Annie  [475, 475, 538, 671, 817, 948, 1104, 1240, 136...
...              ...                                                ...
7615           Rakan  [500, 500, 566, 801, 1004, 1234, 1463, 1674, 1...
7616           Braum  [500, 500, 587, 790, 1107, 1335, 1472, 1616, 1...
7617           Taric  [500, 500, 585, 770, 976, 1222, 1446, 1627, 19...
7618           Janna  [500, 500, 592, 788, 1006, 1251, 1490, 1704, 1...
7619           Braum  [500, 500, 585, 793, 998, 1201, 1373, 1619, 18...

                                                redBans  \
0                    ['Tristana', 'Leblanc', 'Nidalee']
1                        ['RekSai', 'Janna', 'Leblanc']
2                          ['Leblanc', 'Zed', 'RekSai']
3                        ['RekSai', 'Rumble', 'LeeSin']
4                         ['Rumble', 'Sivir', 'Rengar']
...                                                 ...
7615     ['Ornn', 'Kalista', 'Ryze', 'Alistar', 'Shen']
7616    ['Zoe', 'KogMaw', 'JarvanIV', 'Ornn', 'Rengar']
7617  ['Azir', 'Kalista', 'Braum', 'Maokai', 'Alistar']
7618   ['Kalista', 'Galio', 'Gnar', 'Jayce', 'Sejuani']
7619   ['KogMaw', 'Illaoi', 'Azir', 'Karma', 'Sejuani']

                                                Address
0     http://matchhistory.na.leagueoflegends.com/en/...
1     http://matchhistory.na.leagueoflegends.com/en/...
2     http://matchhistory.na.leagueoflegends.com/en/...
3     http://matchhistory.na.leagueoflegends.com/en/...
4     http://matchhistory.na.leagueoflegends.com/en/...
...                                                 ...
7615  https://matchhistory.euw.leagueoflegends.com/e...
7616  https://matchhistory.euw.leagueoflegends.com/e...
7617  https://matchhistory.na.leagueoflegends.com/en...
7618  https://matchhistory.na.leagueoflegends.com/en...
7619  https://matchhistory.na.leagueoflegends.com/en...

[7620 rows x 57 columns]>

In [38]:
Korea=df.loc[df['League'] == 'LCK']
Korea['gamelength'].mean()

38.811764705882354

In [39]:
NA=df.loc[df['League'] == 'NALCS']
NA['gamelength'].mean()

36.956761006289305

# Korea has on average longer games than North America

In [29]:
Korea['gamelength'].corr(Korea['rResult'])

0.07828043049054842

# My Answer

In [30]:
NA['gamelength'].corr(NA['rResult'])

0.03446126015075999

# Game length has little to no impact on the result of a game for both North America and Korea

In [90]:
inter=df.loc[df['Type'] == 'International']
SKTBLUE=inter.loc[inter['blueTeamTag']=='SKT']
TSMBLUE=inter.loc[inter['blueTeamTag']=='TSM']
SKTRED=inter.loc[inter['redTeamTag']=='SKT']
TSMRED=inter.loc[inter['redTeamTag']=='TSM']

In [96]:
TSMREDRESULT=TSMRED.loc[TSMRED['rResult'] == 1]
tsmred=TSMREDRESULT['rResult'].value_counts()
TSMBLUERESULT=TSMRED.loc[TSMRED['bResult'] == 1]
tsmblue=TSMBLUERESULT['bResult'].value_counts()

In [99]:
TSMREDRESULT = TSMRED.loc[TSMRED['rResult'] == 1]
SKTREDRESULT = SKTRED.loc[SKTRED['rResult'] == 1]
TSMBLUERESULT = TSMBLUE.loc[TSMBLUE['bResult'] == 1]
SKTBLUERESULT = SKTBLUE.loc[SKTBLUE['bResult'] == 1]

tsmred_wins = TSMREDRESULT['rResult'].count()
sktred_wins = SKTREDRESULT['rResult'].count()
tsmblue_wins = TSMBLUERESULT['bResult'].count()
sktblue_wins = SKTBLUERESULT['bResult'].count()

win_counts = pd.DataFrame({
    'Blue Wins': [sktblue_wins, tsmblue_wins],
    'Red Wins': [sktred_wins, tsmred_wins]
}, index=['SKT', 'TSM'])

win_counts

     Blue Wins  Red Wins
SKT         44        41
TSM         20        19

# SKT, which is Korea's best team, has significantly more wins internationally than TSM, which is North America's best team.

### The data shows that, on average, game length for Korea is longer than game length for North America. This is indicative of the games being closer, as the closer a game is, the more likely it will be to extend for a longer duration. However, there is little correlation between game length and a specific side winning for both North America and Korea, the reasoning behind this is quite obvious, since the map for League of Legends is mirrored, the side a team plays on will actually have a quite small impact on the result of a game, which in turn, reduces the correlation that game length and which side wins. The biggest denominator for what the actual deciding factor for North America being worse than Korea is the international wins. Internationally, TSM, North America's best team, only holds 39 wins, while SKT, Korea's best team, holds 85 wins. This gap is extremely massive, and shows that Korea is significantly better than North America. Does this mean that North America sucks? Absolutely. North America pales in comparison to Korea, the difference between them is 45 international wins, which may not seem like a lot, but most teams only play 4-5 matches a tournament. This means that on average, SKT has won 7 more tournaments than TSM ever has. Although, this is simply through theoretical math, in actuality, TSM has won 0 international trophies, while SKT has won 5. North America does not just suck at League, they are garbage at League.