In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tsla = pd.read_json('tsla.json')
musk = pd.read_json('musk.json')

In [10]:
correlation = tsla['open'].corrwith(musk['Tweet Count'], axis=0)

AttributeError: 'Series' object has no attribute 'corrwith'

In [4]:
correlation

TrueRange        NaN
Tweet Count      NaN
atr_14           NaN
atr_7            NaN
bollinger        NaN
cci_14           NaN
cci_7            NaN
close            NaN
ema_100          NaN
ema_50           NaN
high             NaN
low              NaN
macd             NaN
next_day_close   NaN
open             NaN
rsi_14           NaN
rsi_7            NaN
sma_100          NaN
sma_50           NaN
volume           NaN
dtype: float64

In [7]:
musk

           Date  Tweet Count
0    2023-03-18           77
1    2023-05-07           76
2    2022-12-16           75
3    2022-11-23           69
4    2023-03-27           66
...         ...          ...
2779 2015-04-04            1
2780 2015-04-01            1
2781 2018-07-24            1
2782 2015-03-30            1
2783 2010-06-04            1

[2784 rows x 2 columns]